h1 {
    color: rgb(0, 0, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    justify-content: center;
}

a { color: black;}

body{
    font-family: "Open Sans", sans-serif;
    background-color: rgb(255, 255, 255);
    display: flex; 
    flex-direction: column;
    justify-content: center;

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 1024px;
    margin: 0 auto;
}

/* BOTONER */
.botonera-principal {
    width: 100%;
    text-align: center;
    background-color: #7dd2ef;
    padding: 15px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
}
.botonera-principal a{
    margin: 0 7px 0 7px;
    text-decoration: none;
}

.boton-seleccionado {
    text-decoration: underline !important;
}

.home__encabezado {
    font-size: 3em;
    color: rgb(0, 0, 0);
    margin: 0;
}

.partidos {
    text-align: center;   /* centra el texto horizontalmente */
    font-weight: bold;    /* opcional: lo pone en negrita */
    font-size: 30px;
    margin-top: 20px;     /* espacio arriba */
}
.contenedor-logo {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.contenedor-logo img {
    max-width: 100px;
    object-fit: contain;
    margin: 15px;
}

.logo-bajada p{
    margin: 0;
}